.Item {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 10px;
	background: #e6ecf2;
	color: #525a66;
	text-align: center;
	line-height: 25px;
	border: 10px solid white;
}

.Active {
	background: #525a66;
	color: #e6ecf2;
}
